.logo {
    --height-this: 120px;
    background: var(--color-primary, #000);
    border-radius: calc(var(--ios-radius, calc(14 / 57)) * var(--height-this, 120px));
    height: var(--height-this, 120px);
    padding: var(--spacing--sm, .5rem);
    margin-bottom: var(--spacing-sm, 1rem);
    overflow: visible;
}